<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    
    

    


    <!-- PARAMETRO PER ImageServlet -->
    <context-param>
        <param-name>uploadDir</param-name>
        <param-value>C:\uploads</param-value>
    </context-param>

    <!-- Altri servlet, listener ecc. -->
</web-app>
